:root {
  --gutter: 2rem;
  --wrap: max(var(--gutter), (100% - 48rem) / 2);
  --wrap-sm: max(var(--gutter), (100% - 24rem) / 2);
  --transition: 1s ease;
}

/* reset */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:focus {
  background: red;
}

figure {
  margin: 0;
}

iframe,
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe,
video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}

#demo {
  display: none;
}

.Automodal {
  #demo {
    display: block;
  }
}

/* base */

:root:has(.Automodal) {
  overflow: hidden;
}

.Automodal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  border: 0;
  transition: opacity var(--transition);
  background: none;
  opacity: 0;
  overflow: hidden;

  &::backdrop {
    transition: opacity var(--transition);
    background: black;
    opacity: 0;
  }
}

.Automodal--active {
  opacity: 1;

  &::backdrop {
    opacity: 0.75;
  }
}

.Automodal--prev {
  .Automodal__item--add {
    transform: translateX(-100%);
  }

  .Automodal__item--remove {
    transform: translateX(100%);
  }
}

.Automodal--next {
  .Automodal__item--add {
    transform: translateX(100%);
  }

  .Automodal__item--remove {
    transform: translateX(-100%);
  }
}

.Automodal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  &::before {
    content: "\2a2f";
  }
}

.Automodal__viewport {
  display: grid;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.Automodal__item {
  display: grid;
  grid-area: 1 / 1;
  place-items: center;
  padding: var(--gutter) var(--wrap);
  border: 0.5rem dashed yellow;
  transition: transform var(--transition);
  overflow: auto;
}

.Automodal__item--short {
  padding-inline: var(--wrap-sm);

  iframe {
    aspect-ratio: 9 / 16;
  }
}

.Automodal__content {
  width: 100%;
  pointer-events: auto;
}

.Automodal__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Automodal__nav--prev {
  left: 0;

  &::before {
    content: "<";
  }
}

.Automodal__nav--next {
  right: 0;

  &::before {
    content: ">";
  }
}
